<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Conductor">
    <insert id="agregarConductor" parameterType="servicios.pojos.Conductor">
        INSERT INTO conductor (nombre, apPaterno, apMaterno, fechaNacimiento, 
        noLicencia, telCelular, password, codigoVerificacion, status) VALUES 
        (#{nombre}, #{apPaterno}, #{apMaterno}, #{fechaNacimiento}, 
        #{noLicencia}, #{telCelular}, #{password}, #{codigoVerificacion}, 
        #{status});
    </insert>
    
    <select id="iniciarSesion" parameterType="servicios.pojos.Conductor"
    resultType="servicios.pojos.Conductor">
        SELECT * FROM conductor WHERE telCelular = #{telCelular};
    </select>
    
    <select id="consultarStatus" parameterType="String" 
    resultType="Integer">
           SELECT status FROM conductor WHERE telCelular = #{telCeluar}; 
    </select>
    
    <select id="disponibilidadConductor" 
    parameterType="servicios.pojos.Conductor" 
            resultType = "int">
            SELECT idConductor FROM Conductor WHERE telCelular = #{telCelular} 
            OR noLicencia = #{noLicencia};
    </select>
</mapper>