<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Vehiculo"> 
    <insert id="agregarVehiculo" parameterType="servicios.pojos.Vehiculo">
        INSERT INTO vehiculo (noPlaca, modelo, anio, noPolizaSeguro, 
        idMarca, idAseguradora, idColor, idConductor) VALUES (#{noPlaca}, #{modelo}, 
        #{anio}, #{noPolizaSeguro}, #{idMarca}, #{idAseguradora}, #{idColor}, 
        #{idConductor});
    </insert>
    
</mapper>