<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DictamenReporte"> 
    
    <select id="recuperarDictamen" parameterType="String" resultType="servicios.pojos.ResultadoDictamen">
        SELECT folio, descripcion, fechaHora, nombre, apPaterno 
        FROM dictamenReporte, usuario 
        WHERE idReporte = #{idReporte} and idUsuario = idPerito;
    </select>
    
    <insert id="dictaminarReporte" parameterType="servicios.pojos.DictamenReporte">
        INSERT INTO dictamenReporte, (descripcion, estado, fechaHora, idReporte,
        idPerito) VALUES (#{descripcion}, #{estado}, #{fechaHora}, #{idReporte}, 
        #{idPerito});
    </insert>
    
</mapper>