<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reporte"> 
    <insert id="agregarReporte" parameterType="servicios.pojos.Reporte">
        INSERT INTO reporte(latitud, longitud, nombreSiniestro, 
        apPaternoSiniestro, apMaternoSiniestro, fechaHora, idConductor, 
        idVehiculoConductor, idVehiculoSiniestro) VALUES (#{latitud}, 
        #{longitud}, #{nombreSiniestro}, #{apPaternoSiniestro}, 
        #{apMaternoSiniestro}, #{fechaHora}, #{idConductor}, 
        #{idVehiculoConductor}, #{idVehiculoSiniestro});
    </insert>
    
    <select id="recuperarReportes" parameterType="String" 
            resultType="servicios.pojos.ResultadoReporte">
        SELECT idReporte, fechaHora, noPlaca, nombreSiniestro, apPaternoSiniestro 
        FROM reporte, vehiculo WHERE reporte.idConductor = #{idConductor}
        AND reporte.idVehiculoConductor = vehiculo.idVehiculo;
    </select>
    
    <select id="recuperarUltimo" resultType="Integer">
        SELECT MAX(idReporte) as idVehiculo FROM reporte;
    </select>
    
    <select id="recuperarTodosReportes" resultType="servicios.pojos.Reporte">
        SELECT  * FROM reporte;
    </select>
    
</mapper>