<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Usuario"> 
    <insert id="agregarUsuario" parameterType="servicios.pojos.Usuario">
        INSERT INTO usuario (nombre, apPaterno, apMaterno, username, 
        password, idCargo) VALUES (#{nombre}, #{apPaterno}, 
        #{apMaterno}, #{username}, #{password}, #{idCargo});
    </insert>
    
    <select id="iniciarSesion" parameterType="string" resultType="servicios.pojos.Usuario">
        SELECT * FROM usuario WHERE username = #{nombreUsuario};
    </select>
    
    <delete id="eliminarUsuario" parameterType="Integer">
        DELETE FROM usuario WHERE idUsuario = #{idUsuario};
    </delete>
    
    <update id="actualizarUsuario" parameterType="servicios.pojos.Usuario">
        UPDATE usuario SET nombre = #{nombre}, apPaterno = #{apPaterno}, 
        apMaterno = #{apMaterno}, username = #{username} WHERE 
        idUsuario = #{idUsuario};
    </update>
</mapper>